# Study Case

The objective of the assignment is to use the following data set to **provide advice to a client of your choosing**. The data set is Crash Stats - Data Extract - Datasets - Victorian Government Data Directory. This is public data was collected on the web and is not related to any work we currently undertake.

**We would like you to investigate, analyse it and prepare a presentation.** You may also supplement the analysis with additional data as you see fit, but the core analysis should be focused on the crashes.

# Accident Clustering

In this part, the objective is to find some clusters within accidents. An idea to explore is to see if there are possible clusters in an accident hour versus age graph.

## Creation of the dataset

In [1]:
# Standar imports

import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import pandas as pd

In [2]:
# Dataset imports

df_ACCIDENT = pd.read_csv('data/ACCIDENT/ACCIDENT.csv')
df_ACCIDENT = df_ACCIDENT[["ACCIDENT_NO", "ACCIDENTTIME"]]

df_PERSON = pd.read_csv('data/ACCIDENT/PERSON.csv')
df_cluster = df_PERSON[["ACCIDENT_NO", "AGE"]]
df_cluster.info()

/var/folders/wd/b2zxwxkj4bnbz090jqqzh0sm0000gn/T/ipykernel_43805/611322082.py:3: DtypeWarning: Columns (10,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df_ACCIDENT = pd.read_csv('data/ACCIDENT/ACCIDENT.csv')
/var/folders/wd/b2zxwxkj4bnbz090jqqzh0sm0000gn/T/ipykernel_43805/611322082.py:6: DtypeWarning: Columns (6,9,10,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df_PERSON = pd.read_csv('data/ACCIDENT/PERSON.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 490948 entries, 0 to 490947
Data columns (total 2 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   ACCIDENT_NO  490948 non-null  object
 1   AGE          469319 non-null  float64
dtypes: float64(1), object(1)
memory usage: 7.5+ MB

In [3]:
df_cluster = df_cluster.merge(df_ACCIDENT, on="ACCIDENT_NO")
df_cluster.head()

    ACCIDENT_NO   AGE                    ACCIDENTTIME
0  T20060000010   NaN  12:42:00
1  T20060000010  43.0  12:42:00
2  T20060000010  22.0  12:42:00
3  T20060000010  72.0  12:42:00
4  T20060000010  62.0  12:42:00

In [4]:
# Remove null rows
df_cluster = df_cluster[df_cluster.AGE.notna()]
df_cluster.head()

    ACCIDENT_NO   AGE                    ACCIDENTTIME
1  T20060000010  43.0  12:42:00
2  T20060000010  22.0  12:42:00
3  T20060000010  72.0  12:42:00
4  T20060000010  62.0  12:42:00
5  T20060000010  39.0  12:42:00

In [6]:
df_cluster.shape

(469319, 3)

In [9]:
df_X = df_cluster.iloc[:20_000, 1:3]
df_X.head()

    AGE                    ACCIDENTTIME
1  43.0  12:42:00
2  22.0  12:42:00
3  72.0  12:42:00
4  62.0  12:42:00
5  39.0  12:42:00

In [11]:
df_X["ACCIDENTTIME"] = pd.to_datetime(df_X["ACCIDENTTIME"])

In [12]:
df_X.ACCIDENTTIME.info()

<class 'pandas.core.series.Series'>
Int64Index: 20000 entries, 1 to 21351
Series name: ACCIDENTTIME
Non-Null Count  Dtype
--------------  -----
20000 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 312.5 KB

In [13]:
# Get the hours
df_X["HOURS"] = df_X["ACCIDENTTIME"].dt.hour
df_X.head()

    AGE        ACCIDENTTIME  HOURS
1  43.0 2022-11-20 12:42:00     12
2  22.0 2022-11-20 12:42:00     12
3  72.0 2022-11-20 12:42:00     12
4  62.0 2022-11-20 12:42:00     12
5  39.0 2022-11-20 12:42:00     12

In [14]:
X_clustering = df_X.drop("ACCIDENTTIME", axis=1)
X_clustering.head()

    AGE  HOURS
1  43.0     12
2  22.0     12
3  72.0     12
4  62.0     12
5  39.0     12

## K-Means algorithm